html {
   font-size: 14px;
}

#navbar {

   padding: 8px;
   margin: 0px;
}

#logo {
   height: 30px;
}

#jovian-logo {
   display: none;
}

body {
   margin: 0px;
   padding: 0px;
   font-family: 'Inter', sans-serif;
   font-size: 1em;
   color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Robot', sans-serif;
   font-weight: 600px;

}

a {
   text-decoration: none;
}

a:hover {
   color: #2b7fff;
}

#logo {
   display: block;
}

#jovian-logo {
   display: none;
}

#banner {
   object-fit: cover;
   height: 100px;
   width: 100%;

}

h1 {
   margin: 8px 0;
   text-align:center;
}


@media screen and (min-width:576px) {
   html {
       font-size: 16px;
       
   }
   

   #jovian-logo {
      display: block;
      margin-bottom:100px;
   }

   #logo {
      display: none;
   }

   #banner {
      object-fit: cover;
      width: 100%;
      height: 200px;
   }
   h1{
      margin:16px 0;
   }
}

@media screen and (min-width:768px) {
   #bannner {
      height: 250px;
   }
   h1{
      margin:20px 0;
   }
}

@media screen and (min-width:992px) {
   #logo {
      display: none;
   }


}

@media screen and (min-width:1200px) {

}
   html {
      font-size: 20px;
   }


   #banner {
      height: 350px;
   }

   #about{
      max-width:800px;


}
#about {
 display: flex;
   max-width: 500px;
   margin: 0 auto;
   padding:8px;
   flex-direction:column;

}
  










/* body {
   margin: 0px;
   padding: 0px;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
}



#navbar {
   padding: 8px;
}



#banner {
   width: 100%;
   object-fit: cover;
}



h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Robot', sans-serif;
   font-weight: 600px;

}

h1 {
   font-size: 2.5rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.75rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
   font-size: 1.25rem;
}

h6 {
   font-size: 1rem;
}

#description {
   width: 50%;
   padding: 0 8px;
   font-size: 1.25rem;
}

#image {
   width: 50%;
}

#team-image {
   border-radius: 5px;
   width: 100%
}

#jobs-table {
   width: 100%;
   border: 1px solid black;
   border-collapse: collapse;
}

#jobs-table tr:nth-child(odd) {
   background-color: azure;

}

.jobs-header-row th {
   border: 1px solid black;
   padding: 8px;
   background-color: #a2f4fd;
   text-align: center;
   font-size: 1rem;
}

.jobs-data-row td {
   border: 1px solid black;
   padding: 8px;
}

h2 {
   text-align: center;
}

#jobs {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 8px;
}


h3 {
   margin-bottom: 2px;
}

.apply {
   float: right;
}

a {
   text-decoration: none;
}

a:hover {
   color: #2b7fff;
}

#application-form {
   max-width: 800px;
   padding: 0 8px;
   margin: 0 auto;


}

.form-group {
   margin-top: 2px;
   padding: 4px;
}

#application-form input,
select {
   padding: 8px;
   border-radius: 5px;
   border: 1px solid gray;
   margin: 0 auto;
   font-size: 1.2rem;

}

.form-group textarea {
   width: 50%;
   padding: 8px;
   font-size: 1.2rem;
   border-radius: 5px;
   border: 1px solid gray;
}

.form-group input[type="submit"] {
   padding: 16px 16px 16px 16px;
   background-color: #2b7fff;
   color: white;
   font-weight: 700;
}

#footer {
   padding: 0 auto;
   margin-top: 60px;
   text-align: center;
}


#footer li {
   display: inline;
   margin-top: 60px;
   list-style: none;
   padding: 0 8px;
   color: #2b7fff;
}

#last-one {
   text-align: center;
   color: darkgreen;
}
   */